<!-- Footer Container (Bloque principal) -->

<footer class="footer">
    <img src="./assets/images/footlog.svg" alt="" width="140" height="130">
    <div class="footer__menusr">
        <div class="footer__menus__menu">
            <h3>Contáctate con nostros</h3>
            <ul>
                <li >+504 3345-7898</li>
                <li ><a href="mailto:moises.corea15@gmail.com ">musicart@art.hn</a></li>
                <li >Honduras C.A</li>
            </ul>
        </div>
        <div class="footer__menus__menu">
            <h3>Siguenos en redes sociales</h3>
            <ul class="footer__menus__menu__social">
                <li class="footer__menus__menu__social__element"><a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a></li>
                <li class="footer__menus__menu__social__element"><a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a></li>
                <li class="footer__menus__menu__social__element"><a href="https://www.tiktok.com/es/"><i class="fa-brands fa-tiktok"></i></a></li>
                <li class="footer__menus__menu__social__element"><a href="https://www.youtube.com/"><i class="fa-brands fa-youtube"></i></a></li>
            </ul>
        </div>
    </div>
    <p>Designed by Moises Corea</p>
    <p>&copy; 2023 Music & Art all rigths reserved.</p> 
</footer>