<!-- Header Container (Bloque principal) -->


<header class="header">
    <div class="header__bar-top">
      <picture class="header__bar-top__logo">
        <img src="./assets/images/logo.svg" alt="Music and Art" class="m&a-logo" width="230" height="65" />
      </picture>
      <nav class="header__bar-top__login-language">
        <ul>
          <li><a href=""><i class="fa-regular fa-user"></i> Iniciar sesión</a></li>
          <li><a href=""><i class="fa-solid fa-earth-americas"></i> ES</a></li>
        </ul>
      </nav>
    </div>
    <div class="header__carousel">
      <h1>¡Bienvenido al mundo del arte!</h1>
      <p>La música al alcance de tus manos</p>
      
    </div>
  </header>